{% extends "hook/templates/index.html" %}

{% block extra_head %}
  {{ super() }}
  <link rel="stylesheet" href="/css/custom.css">
{% endblock extra_head %}


{% block content %}
  {# replicate the base content block, but swap in the date+title markup #}
  {% set blog = get_section(path="blog/_index.md") %}
  {% if section.content or blog.pages %}
  <main>
    {% if section.content %}
      <div {% if blog.pages %}class="space"{% endif %}>
        {{ section.content | safe }}
      </div>
    {% endif %}

    {% if blog.pages %}
      <h2>Recent posts</h2>
      <ul>
        {# newest first, only non-drafts #}
        {% for post in blog.pages 
            | filter(attribute="draft", value=false) 
            | sort(attribute="date") 
            | reverse 
            | slice(end=20) %}
          <li>
            <time datetime="{{ post.date }}" class="post-date">
              {{ post.date | date(format="%Y-%m-%d") }}
            </time>
            <a href="{{ post.permalink }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>
      <p><a href="{{ blog.permalink }}">Archive</a></p>
    {% endif %}
  </main>
  {% endif %}
{% endblock content %}
